streamlit
st-pages
streamlit-option-menu
pandas
numpy
scipy
statsmodels
matplotlib
plotly
altair
pydeck
pillow
requests
beautifulsoup4
newsapi-python
yfinance
python-dotenv
openpyxl
